.bird-details {
  background-color: rgb(99, 180, 190);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 300px;
  padding: 50px;
  height: 100%;
  border: 2px solid rgb(156, 153, 153);
  border-radius: 8px;
  box-shadow: 10px 10px rgb(204, 200, 200);
}
/* .bird-details h1 {
    text-align: left;
  } */
.image {
  border-radius: 8px;
  margin-top: 30px;
  width: 105%;
  margin-bottom: 10px;
}

.details {
  border: 2px solid rgb(156, 153, 153);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.753);
  width: 90%;
  padding: 20px;
  margin-top: 30px;
}

.points strong {
  background-color: yellow;
}
